[build]
  # Set the build command for your project
  command = "npm run build"

  # Set the directory to deploy (the output directory after building your project)
  publish = "dist"

[dev]
  command = "npm start"
  port = 8888  

[[redirects]]
  # Redirect all requests to the index.html file
  from = "/*"
  to = "/index.html"
  status = 200

[[redirects]]
  # Redirect specific path to report.html
  from = "/index.html"
  to = "/report.html"
  status = 200

[functions]
  # Set the directory where your Netlify Functions are located
  directory = "functions"

[build.environment]
  # Example environment variable
  # API_KEY = "your_api_key_here"
